  services:
    webadmin:
      image: trantu30950/webadmin:latest
      build: .
      container_name: webadmin
      restart: always
      ports:
        - '3000:3000'
      volumes:
        - ./.env:/app/.env